.photograph-header {
    position: relative;
    display:flex;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.photograph-picture {
    width: 200px;
    height: 200px;
    clip-path: circle(50%);
}

.photograph-info article h1{
    font-size: 64px;
    color: #D3573C
}

.photograph-info article h2{
    font-size: 24px;
    color: #901C1C;
}

.photograph-info article h3{
    font-size: 18px;
    color: #525252;
}

.portrait {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact_modal {
    display: none;
}

#contact_modal .modal label{
    font-size: 20px;
}

#contact_modal .modal h3 {
    width: 100%;
}



.contact_button, .submit_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button {
    position: absolute;
    left:45%;
}

.fa-heart {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #901C1C;
}

.fa-heart:hover, .active {
    background-color: #901C1C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal {
    position: absolute;
    left: 35%;
    top: 10%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    width: 25%;
    z-index: 9999;
}


.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: 15%;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    height: 68px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.modal_bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 9998;
}

section {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.9em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    transition: 0.3s;
  }
  
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
  }

.medias_section {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 50px 2%;
    width: 100%;
}

.medias_section article {
    display:flex;
    flex-basis: 32%;
    justify-content: center;
    align-items: center;
}

.media_container {
    width: 100%;
    height: 25vw;
}


.media_holder {
    max-width: 100%;
    height: 90%;
}

article .img_media, article video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: none;
    border-radius: 10px;
}

.img_media_view {
    max-height: 80%;
}

.media_title_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
    font-size: 24px;
}

.media_like_holder {
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: space-between
}


.input {
    padding: 15px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    font-family: inherit;
    align-self: flex-start;
  }

  #cta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    float: right;
    width: 150px;
    background-color: #DB8876;
    width: 250px;
    font-size: 24px;
    padding: 15px 40px 15px 40px;
    margin-right: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  #modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background: white;
    background-size: cover;
    font-size: 40px;
  }
 .modal_media_container {
    display: flex;
    height: 100%;
 }
  #modal img {
    max-height: 90vh;
    object-fit: cover;
  }

  #modal #close {
    position: absolute;
    right: 100px;
    top: 50px;
  }

  #modal #previous {
    position: absolute;
    left: 100px;
  }

  #modal #next {
    position: absolute;
    right: 100px;
  }